.EIEI {
    opacity: 0;
    transform: translateY(100px);
    animation: fadein 0.3s ease-in-out forwards;
}
@keyframes fadein {
    0%{

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}